@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;

    

}

/*generalt*/

body{
   
    
    line-height: 1.9;
    background-color: rgb(212, 235, 235);
    font-size: 20px;

}


/*grid*/

#grid-container{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 80px 600px auto 100px;
    width: 100%;
    margin: 0 auto;
    

}

#meny{

    grid-column-start: span 2;
    
        
}

header{
    grid-column-start: span 2;
    


}

main{
    grid-column-start: span 1;

}

footer{
    grid-column-start: span 2;
    
}

/*nav*/



#meny{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    align-items: center;
    background-color: rgb(29, 83, 177);
    


  }


  

#meny li{
    display: inline-block;
    font-weight: 800;
}


  ul a{
   
    padding: 10px;
    text-decoration: none;
    color: white;
    line-height: 80px;
    transition-duration: 1s;
    font-family: 'Courier New', Courier, monospace;

    
}


.logo{
    width: 90px;
    height: 90px;
    padding: 10px;
    margin-top: 13px;


  
}

#meny a:hover{
    background-color: aqua;
    color: black;

}

/*header*/

 #background{
    background-image: url('../images/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
 
}

header h1{
    font-size: 38px;
    padding: 4rem;
    margin-left: 40px;
    
   
   
    
}

/*main forside*/

main{
   
    display: grid;
    justify-content: center;
    
    

}

h2{
    padding: 20px;
    font-size: 30px;
}
 


#about {
    text-align: center;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;

}

button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(14, 14, 97);
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
    margin: 25px;
}

button:hover{
    transform: translateY(5px);   

}


/*artikkler forside*/

#artikkler{
    width: 100%;
}


.artikkel{
    background-color: rgb(243, 242, 249);
    border: 2px solid rgb(255, 85, 0);
    width: 33%;
    padding: 10px;
    border-radius: 10px;
    margin: 8px;
    

}




.allartikkler{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    height: 740px;
}
    

h3{
    margin: 5px;
    font-size: 25px;
    
}

#artikkler img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    max-width: 250px;
  
    
}
#artikkler p{
    height: 390px;
    width: 180px;
    margin-left: 18px;
      

}





section a{
    width: 140px;
    height: 50px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    padding: 10px 30px;
    letter-spacing: 1px;
    transition: 0.5s;
    
}

section a:hover{
    transform: scale(1.1);
   
}


/*fotter*/

footer{
    background-color: rgb(29, 83, 177);
    margin-top: 50px;
    line-height: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}   


/*media quaires forside*/



@media (max-width: 600px){

   
    #grid-container{
        display: grid;
        grid-template-columns:  2fr;
        grid-template-rows: 170px auto auto 150px;
        width: 100%;
        margin: 0 auto;
        
    
    }
    
    
    #about{
        width: 80%;
        height: 500px;
    
    }

    
    
    .artikkel{
        
    
        width: 360px;
        margin-top: 20%;
    
    }
    
    
    
    .allartikkler{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-left: auto;
      
    }
    #artikkler{
        height: 2300px;
       
    }
        
    
    
    #artikkler p{
        width: 300px;
        padding: 10px;
        height:300px ;
    

    }
    
    
    #artikkler img{
       width: 100%;
       max-width: 250px;
         
}

}

@media (max-width: 600px){
    Body{
        width: 100%;
        
    }
}